header {
    background-image: url("./assets/backgrounds/h_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
}

/* Services Section */
.services {
    background-image: url("./assets/backgrounds/s_image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
}

/* What We Do Section */
.what-we-do article {
    width: 30%;
}

/* Portfolio Section */
.toggle-portfolio-title {
    bottom: -55%;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    font-size: 1.2rem;
}


/* Contact Us Section */
.contact-us {
    background-image: url("./assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

input {
    min-width: 48%;
    color: #fff;
}

textarea {
    color: white;
}

input::placeholder, textarea::placeholder {
    color: #fff;
}

input:focus, textarea:focus {
    outline: #fff;
}

/* Page Responsiveness */
@media (max-width: 500px){
    header {
        background-size: cover;
        background-position: top;
    }

    .services {
        background-size: cover;
        background-position: top center;
        padding: 0 .5rem;
    }

    .what-we-do > div {
        flex-direction: column;
    }

    .what-we-do > div > article {
        width: 85%;
        margin-bottom: .8rem;
    }
}